<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"href="/static/css/mystyle.css">
</head>
<body>
    <div class="mybox">
        <input type="text" />
        <input type="text" />
        <input type="text" />
    </div>    
</body>
    <div style="width:600px; border:1px solid #cccccc; padding:50px;
        margin-bottom: 10px;">
        <input type="text" />
        <input type="text" />
        <input type="text" />
    </div>    
</html>